<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>Web Statement - New Template</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="/ckeditor.js"></script>
        <script src="/static/ckfinder/ckfinder.js"></script>      
        <script src="https://ckeditor.com/apps/ckfinder/3.5.1/ckfinder.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>      
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>        
		<script src="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.structure.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
       <style type="text/css">
	        #DB{
	        	width:83%;
				height: 400px;
				border: var(--ck-color-base-border) solid 1px;
				float: left;
				position: absolute;
				white-space: nowrap; 
				overflow: auto;
			}
			#DBP{
				width: 100%;
				height: 320px;
				white-space: nowrap; 
				overflow: auto;
			}
			#PH{
				width: 100%;
				height: 100px;
				line-height: 40px;
				float: left;
				margin-top:30px;
				border-bottom: #f2f2f2 solid 1px;
				
			}
			.PHH{
				width: 100%;
				height: 100px;
				line-height: 40px;
				float: left;
				margin-top:30px;
				border-bottom: #f2f2f2 solid 1px;
				
			}
			#text{
				width:200px;
				height:25px;
			}
			#btn{
				margin-top: 350px;
				margin-left:45%;
				position: relative;
			}
			#rebtn{
				width:20px;
				height:20px;
				margin-left:99%;
				float:left;
				color:var(--ck-color-base-border);
				margin-top:-105px;
				cursor:pointer;
			}
	</style>
    </head>
    <body>
    <div th:include="dashboard/com/navbar :: navbar"></div>
    <div class="container">
        <div th:if="${exist}">
			<h3>Edit Template</h3>
			<label for="version-list">Version</label>
			<select id="version-list">
				<option selected value="">Current</option>
				<option th:each="version:${template.versions}" th:value="${version.UUID}" th:text="${version.maker} + '@' + ${version.savedTime} + ' - ' + ${version.UUID}"></option>
			</select>
            <form id="tpl-form" action="#" th:action="@{/dashboard/template/edit}" th:object="${template}" method="post">
				<input type="hidden" th:field="*{id}" />
				<label for="tpl-name">Name</label><br>
                <input type="text" id="tpl-name" name="tpl-name" th:field="*{name}" /><br><br>
                <label for="tpl-ref">Reference OPPM#</label><br>
                <input type="text" id="tpl-ref" name="tpl-ref" th:field="*{oppm}" /><br><br>		
				<label for="tpl-ref">Legal Vehicle</label><br>
				<select id="tpl-legal-vehicle" th:field="*{legalVehicle}">
					<option th:each="l:${allLegalVehicles}" th:text="${l}" th:value="${l}"></option>
				</select><br><br>  
				
				<label for="tpl-folder">Advice Type</label><br />
				<select id="tpl-folder" th:field="*{folder}">
					<option th:each="f:${allActiveFolders}" th:text="${f.displayName}" th:value="${f.id}"></option>
				</select><br><br>              
                <label for="tpl-desc">Description</label><br>
                <textarea id="tpl-desc" name="tpl-desc" th:field="*{description}"></textarea><br><br>
                <label for="editor">Template</label><br>
                <textarea name="tpl-editor" id="tpl-editor" th:text="${template.content}">
                    &lt;p&gt;This is some sample content.&lt;/p&gt;
                </textarea>
				<br>
				<label for="data-binding">Data Binding</label><button id="show-dictionary" type="button" class="btn btn-info btn-search">Show Dictionary</button>
				<br>
				<div id="data-binding" class="data-binding">
					<div th:id="${'data-binding-placeholder-'+databinding.id}" name="data-binding-placeholder" class="data-binding-placeholder" th:each=" databinding, dbStat : *{dataBindings}">
						<input type="hidden" th:field="*{dataBindings[__${dbStat.index}__].id}" tag-id="id" />
						<span>PlaceHolder</span><input type="text" th:field="*{dataBindings[__${dbStat.index}__].placeholder}" tag-id="placeholder" />
						<span>System ID</span>
						<select name="dataBinding-system-id" tag-id="system-id">
							<option th:each="systemId : ${allSystemIds}" th:selected="${databinding.dictionary.sysId eq systemId}" th:value="${systemId}" th:text="${systemId}"></option>
						</select>
						<span>Dictionary</span>
						<select th:field="*{dataBindings[__${dbStat.index}__].dictionary}" tag-id="dictionary" th:attr="selected-dict-id=${databinding.dictionary.id}">
							<!-- <option th:each="dictionary : ${allDataDictionary}" th:value="${dictionary.id}" th:text="${dictionary.name + ' - ' + dictionary.description}"></option> -->
						</select>
						<div th:onclick="|delDataBinding('data-binding-placeholder-${databinding.id}')|"><h3>×</h3></div>
					</div>
				</div>
				<div id="btn-bind-more" class="btn-bind-more">
					<button type="button" class="btn btn-info btn-search">Bind More</button>
				</div>
                
                <button class="btn-save btn btn-info btn-search" style="margin-left:44%;margin-top:50px;">
                	<a>Save Template and Preview</a>
                </button>
			</form>
			
			<!-- <input id="data-binding-count" type="hidden" th:value="${dataBindingSize}" /> -->
			<div id="data-binding-placeholder-replacement" style="display:none;">
				<div id="data-binding-placeholder-index" name="data-binding-placeholder" class="data-binding-placeholder">
					<span>PlaceHolder</span><input type="text" id="dataBindingsindex.placeholder" name="dataBindings[index].placeholder" />
					<span>System ID</span>
					<select name="dataBinding-system-id" tag-id="system-id">
						<option th:each="systemId : ${allSystemIds}" th:value="${systemId}" th:text="${systemId}"></option>
					</select>
					<span>Dictionary</span>
					<select id="dataBindingsindex.dictionary" name="dataBindings[index].dictionary" tag-id="dictionary">
						<!-- <option th:each="dictionary : ${allDataDictionary}" th:value="${dictionary.id}" th:text="${dictionary.name + ' - ' + dictionary.description}"></option> -->
					</select>
					<div onclick="delDataBinding('data-binding-placeholder-index')"><h3>×</h3></div>
				</div>
			</div>
			
			<div id="data-dictionary-popup" style="display: none;">
				
				<span>System ID</span>
				<select id="data-dictionary-popup-choose-system-id">
					<option th:each="systemId : ${allSystemIds}" th:value="${systemId}" th:text="${systemId}"></option>
				</select><br />
				
				<span>Dictionary</span>
				<select id="data-dictionary-popup-choose-dictionary">
					<!-- <option th:each="dictionary : ${allDataDictionary}" th:value="${dictionary.id}" th:text="${dictionary.name}"></option> -->
				</select>
				<div id="data-dictionary-popup-display"></div>
				<!-- <div id="data-dictionary-popup-hide" style="display:none;">
					<div th:each="dictionary : ${allDataDictionary}" th:id="${'dictionary-details-' + dictionary.id}">
						<dl>
							<dt>Description</dt><dd th:text="${dictionary.description}"></dd>
							<dt>Category</dt><dd th:text="${dictionary.category}"></dd>
							<dt>Domain/System ID</dt><dd th:text="${dictionary.sysId}"></dd>
							<dt>Type</dt><dd th:text="${dictionary.type}"></dd>
							<dt>Default Value</dt><dd th:text="${dictionary.defaultValue}"></dd>
							<dt>Format</dt><dd th:text="${dictionary.format}"></dd>
						</dl>
					</div>
				</div> -->
				<div id="data-dictionary-popup-hide" style="display:none;">
				
				
				</div>
				<div id="dict-template" style="display:none;">
					<div id="dictionary-details-[id]">
						<dl>
							<dt>Description</dt><dd>[desc]</dd>
							<dt>Category</dt><dd>[category]</dd>
							<dt>Domain/System ID</dt><dd>[system-id]</dd>
							<dt>Type</dt><dd>[type]</dd>
							<dt>Default Value</dt><dd>[default-value]</dd>
							<dt>Format</dt><dd>[format]</dd>
						</dl>
					</div>
				</div>
			</div>
        </div>
        <div th:unless="${exist}">
            No Such Template.
        </div>
		</div>
		<script>

		$(document).ready(function (){
			$("#version-list").change(function (){
				var version=$(this).children('option:selected').val();
				var tplId=$("#tpl-id").val();
				window.location.href="/dashboard/template/history/"+tplId+"/"+version;
			});

			onLegalVehicleChange();
			$("#tpl-legal-vehicle").change(onLegalVehicleChange);

			var firstSysId = $("#data-dictionary-popup-choose-system-id").first().val();
			loadDictionary(false);

			$("#data-dictionary-popup-choose-system-id").change(function (){
				loadDictionary(true);
			});
			//TODO
			//1. bind system id change event
			//2. reload dictionary by system id in change event
			//3. build dictionary details section by fetched data
			//** here need an API to read dictionary by system id
			//4. replace dictionary details

			// var firstDictId = $("#data-dictionary-popup-choose-dictionary").first().val();
			// $("#data-dictionary-popup-display").append($("#dictionary-details-"+firstDictId).html());

			$("#data-dictionary-popup-choose-dictionary").change(function (){
				var dictId=$(this).children('option:selected').val();
				
				$("#data-dictionary-popup-display").empty();
				$("#data-dictionary-popup-display").append($("#dictionary-details-"+dictId).html());
			});

			$("#data-binding > div[name='data-binding-placeholder'] > select[tag-id='dictionary']").each(function (i){
				var dictSelectObj = $(this);
				var sysIdSelectObj = dictSelectObj.siblings("[tag-id='system-id']");
				var sysId = dictSelectObj.siblings("[tag-id='system-id']").children("option:selected").val();

				sysIdSelectObj.change(onSystemIdChangeInBindMore);

				$.ajax({
					url: '/dashboard/dictionary/system/'+sysId,
					type: 'GET',
					success: function (data) {
						if(data.length==0) {
							console.log('INFO: No data found. Nothing will happen.');
							dictSelectObj.hide();
							confirm('No dictionary defined under '+sysId+'.');
						} else {
							dictSelectObj.empty();
							for(let dict of data) {
								dictSelectObj.append("<option value='"+dict.id+"'>"+dict.name+" - "+dict.description+"</option>");
							}
							
							var selectedDictionaryId = dictSelectObj.attr("selected-dict-id");
							console.log("Bind Each Selected Dictionary Id: "+selectedDictionaryId);
							dictSelectObj.val(selectedDictionaryId);
							
							dictSelectObj.show();
						}
					}
				});

			});

			$("#data-dictionary-popup").dialog({
				autoOpen: false,
				width: "800px",
				show: {
					effect: "blind",
					duration: 1000
				},
				hide: {
					effect: "blind",
					duration: 1000
				}
			});

			$("#show-dictionary").click(function (){
				$("#data-dictionary-popup").dialog("open");
			});

			$('#btn-bind-more').click(function (){

				var i=$("div[name='data-binding-placeholder']").length-1;
				var replacementHtml = $("#data-binding-placeholder-replacement").html();
				replacementHtml=replacementHtml.replace(/index/g,i);
				
				$('#data-binding').append(replacementHtml);

				var newSysIdSelectObj = $("#data-binding > div[name='data-binding-placeholder'] > select[name='dataBinding-system-id']").last();
				var newItemSysId = newSysIdSelectObj.children().first().val();
				var newDictSelectObj = newSysIdSelectObj.siblings("[tag-id='dictionary']");

				$.ajax({
					url: '/dashboard/dictionary/system/'+newItemSysId,
					type: 'GET',
					success: function (data) {
						if(data.length==0) {
							console.log('INFO: No data found. Nothing will happen.');
							newDictSelectObj.hide();
							confirm('No dictionary defined under '+newItemSysId+'.');
						} else {
							newDictSelectObj.empty();
							for(let dict of data) {
								newDictSelectObj.append("<option value='"+dict.id+"'>"+dict.name+" - "+dict.description+"</option>");
							}
							newDictSelectObj.show();
						}
					}
				});

				$("select[name='dataBinding-system-id']").change(onSystemIdChangeInBindMore);
			});
		});

		function onLegalVehicleChange() {
			var legalVehicle=$("#tpl-legal-vehicle").children('option:selected').val();
			var adviceTypeSelectObj = $("#tpl-folder");
			$.ajax({
				url: '/dashboard/template-folder/list?legalVehicle='+legalVehicle,
				type: 'GET',
				success: function (data) {
					if(data.length===0) {
						console.log('INFO: No data found. Nothing will happen.');
						adviceTypeSelectObj.empty();
						adviceTypeSelectObj.attr("disabled", true);;
						confirm('No advice type defined under '+legalVehicle+'.');
					} else {
						adviceTypeSelectObj.empty();
						for(let legalVehicleItem of data) {
							adviceTypeSelectObj.append("<option value='"+legalVehicleItem.id+"'>"+legalVehicleItem.displayName+"</option>");
						}

						adviceTypeSelectObj.removeAttr("disabled");
					}
				}
			});
		}

		function onSystemIdChangeInBindMore() {
			//1. fetch dictionary array by ajax
			//2. check if any dictionary under such system id, if no, break reloading
			//3. remove all options from select
			//2. add all options of new dictionary to select
			var sysId=$(this).children('option:selected').val();
			var dictSelectObj = $(this).parent().children("[tag-id='dictionary']");

			console.log("Selected System ID: "+sysId);
			console.log("Sibling dictionary select: "+dictSelectObj);

			$.ajax({
				url: '/dashboard/dictionary/system/'+sysId,
				type: 'GET',
				success: function (data) {
					if(data.length===0) {
						console.log('INFO: No data found. Nothing will happen.');
						dictSelectObj.hide();
						confirm('No dictionary defined under '+sysId+'.');
					} else {
						dictSelectObj.empty();
						for(let dict of data) {
							dictSelectObj.append("<option value='"+dict.id+"'>"+dict.name+" - "+dict.description+"</option>");
						}

						var selectedDictionaryId = dictSelectObj.attr("selected-dict-id");
						console.log("On Change Selected Dictionary Id: "+selectedDictionaryId);
						dictSelectObj.val(selectedDictionaryId);

						dictSelectObj.show();
					}
				}
			});
		}

		
		function loadDictionary(reload) {
			var sysId = $("#data-dictionary-popup-choose-system-id").first().val();
			
			if(reload) {
				sysId=$("#data-dictionary-popup-choose-system-id").children('option:selected').val();
			}
			
			$.ajax({
				url: '/dashboard/dictionary/system/'+sysId,
				type: 'GET',
				success: function (data) {

					$("#data-dictionary-popup-choose-dictionary").hide();
					$("#data-dictionary-popup-choose-dictionary").empty();
					$("#data-dictionary-popup-display").empty();
					$("#data-dictionary-popup-hide").empty();

					if(data.length===0) {
						console.log('INFO: No data found.');
						$("#data-dictionary-popup-display").html('No dictionary defined under such system.');
					} else {
						var firstHtml;
						var index=0;
						for(let dict of data) {
							var html = $("#dict-template").html();
							html = html.replace("[id]", dict.id);
							html = html.replace("[desc]", dict.description);
							html = html.replace("[category]", dict.category);
							html = html.replace("[system-id]", dict.sysId);
							html = html.replace("[type]", dict.type);
							html = html.replace("[default-value]", dict.defaultValue);
							html = html.replace("[format]", dict.format);
							
							var optionHtml="<option value='"+dict.id+"'>"+dict.name+"</option>";
							if(index===0) {
								firstHtml=html;
								optionHtml="<option value='"+dict.id+"' selected>"+dict.name+"</option>";
							}
							index++;

							$("#data-dictionary-popup-choose-dictionary").append(optionHtml);
							$("#data-dictionary-popup-choose-dictionary").show();
							$("#data-dictionary-popup-hide").append(html);
						}

						$("#data-dictionary-popup-display").append(firstHtml);
					}
				}
			});
		};

		function delDataBinding(id){

			$("#"+id).remove();

			//reorder names and ids
			$("#data-binding > div[name='data-binding-placeholder'] > input[tag-id='id']").each(function(index){
				$(this).attr('id','dataBindings'+index+'.id');
				$(this).attr('name','dataBindings['+index+'].id');
			});

			$("#data-binding > div[name='data-binding-placeholder'] > input[tag-id='placeholder']").each(function(index){
				$(this).attr('id','dataBindings'+index+'.placeholder');
				$(this).attr('name','dataBindings['+index+'].placeholder');
			});

			// $("#data-binding > div[name='data-binding-placeholder'] > select[tag-id='sysId']").each(function(index){
			// 	$(this).attr('index',index);
			// });

			$("#data-binding > div[name='data-binding-placeholder'] > select[tag-id='dictionary']").each(function(index){
				$(this).attr('id','dataBindings'+index+'.dictionary');
				$(this).attr('name','dataBindings['+index+'].dictionary');
			});

			$("select[name='dataBinding-system-id']").change(onSystemIdChangeInBindMore);
		}

		function htmlDecode(input) {
            var doc = new DOMParser().parseFromString(input, "text/html");
            return doc.documentElement.textContent;
        }

		$("#tpl-form").submit( function(eventObj) {

			console.log($(".ck-content").html());

			var editorHtml = htmlDecode($(".ck-content").html());

			$("<input />").attr("type", "hidden")
				.attr("id", "tpl-content")
				.attr("name", "content")
				.attr("value", $(".ck-content").html())
				.appendTo("#tpl-form");

			$("#tpl-editor").remove();
			return true;
		});
		</script>
        <script>
        ClassicEditor
			.create( document.querySelector( '#tpl-editor' ), {
				
				toolbar: {
                    shouldNotGroupWhenFull: true,
					items: [
						'heading',
						'|',
						'bold',
						'italic',
						'underline',
						'strikethrough',
						'bulletedList',
						'numberedList',
						'todoList',
						'horizontalLine',
						'pageBreak',
						'|',
						'indent',
						'outdent',
						'alignment',
						'|',
						'removeFormat',
						'specialCharacters',
						'subscript',
						'superscript',
						'fontBackgroundColor',
						'fontColor',
						'fontSize',
						'fontFamily',
						'highlight',
						'-',
						'imageUpload',
						'imageInsert',
						'link',
						'blockQuote',
						'insertTable',
						'mediaEmbed',
						'CKFinder',
						'htmlEmbed',
						'|',
						'undo',
						'redo'
					]
				},
				language: 'en',
				image: {
					toolbar: [
						'imageTextAlternative',
						'imageStyle:full',
						'imageStyle:side'
					]
				},
				table: {
					contentToolbar: [
						'tableColumn',
						'tableRow',
						'mergeTableCells',
						'tableCellProperties',
						'tableProperties'
					]
                },
				licenseKey: '',
				ckfinder: {
                    // Upload the images to the server using the CKFinder QuickUpload command.
                    uploadUrl: '/ckfinder/connector.php?command=QuickUpload&type=Images&responseType=json'
                }
			} )
			.then( editor => {
				window.editor = editor;
				window.CKFinder.config({
					connectorPath: 'ckfinder/connector.php'
				});
			} )
			.catch( error => {
				console.error( 'Oops, something went wrong!' );
				console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
				console.warn( 'Build id: fp1vhlw0nzlf-wtp1c3jpsibh' );
				console.error( error );
			} );
        </script>
    </body>
</html>